/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'poppins';
  src: local('poppins'), url(/public/Fonts/Poppins-Light.ttf) format('ttf');
}

#root{
  font-family: poppins;
}



@media only screen and (max-width: 1223px) {
  #sizeItDown {
    width: 800px;
    height:auto;
    
  }

}
@media only screen and (max-width: 1223px) {
  #busDesc {
    width:100%
    
  }

}

@media only screen and (max-width: 1223px) {
  #topCard,#contact{
padding:20px
  }

}
@media only screen and (max-width: 1223px) {
  #contact {
    align-self: center;
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    
  }}

  @media only screen and (max-width: 614px) {
    #cardHeader{
  display:"flex";
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  
    }
  
  }

  @media only screen and (max-width: 614px) {
 #reviewCard{
  display:"flex";
  flex-direction: column;
  flex-wrap: wrap;
 
  
    }
  
  }


  /* @media only screen and (max-width: 1223px) {
    #contactBoxBottom{
     margin-right:41px
     
       }
     
     } */
   
  